@import 'tailwindcss';

:root {
  --primary: rgba(148, 166, 255, 1);
  --on-primary: rgba(0, 19, 86, 1);
  --primary-container: rgba(20, 56, 179, 1);
  --on-primary-container: rgba(221, 225, 255, 1);
  --surface-0: rgba(14, 14, 14, 1);
  --surface-1: rgba(27, 27, 27, 1);
  --surface-2: rgba(38, 38, 38, 1);
  --surface-3: rgba(44, 44, 44, 1);
  --surface-4: rgba(48, 48, 48, 1);
  --on-surface: rgba(226, 226, 226, 1);
  --on-surface-variant: rgba(198, 198, 198, 1);
  --on-surface-variant-2: rgba(171, 171, 171, 1);
  --outline: rgba(145, 145, 145, 1);
  --outline-variant: rgba(71, 71, 71, 1);
  --outline-variant-2: rgba(82, 82, 82, 1);
  --inverse-surface: rgba(255, 255, 255, 1);
  --inverse-on-surface: rgba(27, 27, 27, 1);
  --inverse-on-surface-variant: rgba(71, 71, 71, 1);
  --inverse-primary: rgba(20, 56, 179, 1);
  --inverse-on-primary: rgba(255, 255, 255, 1);
}

html, body, #root {
  width: 100%;
  height: 100%;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}